.workBody {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* height: 150vh; */
    background-color: #111;
    display: flex;
    /* overflow-y: hidden; */
    bottom: 0;
}

.workBody .workContainer {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #111;
    overflow-y: scroll;
}

.workContainer .projects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-top: 50em; */
    padding-bottom: 5em;
}

.workContainer .projects .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 1em; */
    width: 100%;
    justify-content: center;

    font-size: 2.5rem;
}

.workContainer .projects .title h2 {
    font-family: 'poppin-bold';
}

.workContainer .projects .title .line {
    /* width: ; */
}

.project-display {
    width: 64em;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2em;
}

.workBody .workContainer .hero-banner {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5em;
    gap: 2em;
    flex-direction: column;
    /* height: auto; */
    /* background-color: red; */
}

.workBody .workContainer .hero-banner .title {
    width: 100%;
    height: 40em;
    display: flex;
    /* background-color: aliceblue; */
    position: relative;
    justify-content: center;
}

.workBody .workContainer .hero-banner .title h2,
.workBody .workContainer .hero-banner .title img {
    position: absolute;
    font-size: 10em;
    font-family: 'poppin-bold';
    letter-spacing: .1em;
}

.workBody .workContainer .hero-banner .title .discover {
    position: relative;
    height: 100%;
    width: 80%;
    /* background-color: red; */
}

.workBody .workContainer .hero-banner .title img {
    left: 42%;
    top: 25%;
    width: 2em;
}

.disc {
    left: 10%;
}

.ver {
    left: 70%;
    top: 45%;
}

.workBody .workContainer .hero-banner .title .design {
    position: absolute;
    right:20em;
    top: 5em;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* background-color: red; */
    text-align: left;
    width: 12em;
    font-family: 'poppin';
    gap: .5em
}

.workBody .workContainer .hero-banner .title .design img {
    height: .5em;
    width: .5em;
    position: relative;
    left: 0;
    top: 0;
}

.workBody .workContainer .hero-banner .title .fullstack {
    position: absolute;
    left: 18em;
    top: 28em;
    display: flex;
    text-align: left;
    align-items: center;
    width: 23em;
    font-family: 'poppin';
    gap: 1em
}

.workBody .workContainer .hero-banner .title .fullstack img {
    height: .5em;
    width: .5em;
    position: relative;
    left: 0;
    top: 0;
}
@media screen and (max-width:1100px) and (min-width:669px) {
    .project-display{
        width: 90%;
        /* grid-template-columns: repeat(1, minmax(0, 1fr)); */
    }

    .workBody .workContainer .hero-banner {
        padding-right: 0;
        flex-direction: column;
        /* padding-left: 3em; */
        justify-content: center;
        margin-top: 10em;
        text-align: center;
        align-items: center;
        padding-bottom: 3em;
    }

    .workBody .workContainer .hero-banner .title {
        /* background-color: red; */
    }

    .workBody .workContainer .hero-banner .title h2 {
        position: absolute;
        font-size: 8em;
        font-family: 'poppin-bold';
        letter-spacing: .05em;
    }

    .workBody .workContainer .hero-banner .title img {
        left: 40%;
        top: 15%;
        width: 1.8em;
    }

    .disc {
        left: -5%;
    }
    
    .ver {
        left: 70%;
        top: 50%;
    }
    .workBody .workContainer .hero-banner .title .design {
        top: 10%;
        left: 80%;
        /* flex-direction: row; */
        gap:1em;
        width: 20%;
        align-items: start;
    }
    
    .workBody .workContainer .hero-banner .title .design img {
   
    }
    
    .workBody .workContainer .hero-banner .title .fullstack {
       top: 65%;
       left: 5%;
       width: 45%;
    }
    
    .workBody .workContainer .hero-banner .title .fullstack img {
   
    }
}
@media screen and (max-width:668px) {
    .project-display {
        width: 85%;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .workBody .workContainer .hero-banner {
        padding-right: 0;
        flex-direction: column;
        /* padding-left: 3em; */
        justify-content: center;
        margin-top: 10em;
        text-align: center;
        align-items: center;
    }

    .workBody .workContainer .hero-banner .title {
        /* background-color: red; */
    }

    .workBody .workContainer .hero-banner .title h2 {
        position: absolute;
        font-size: 5em;
        font-family: 'poppin-bold';
        letter-spacing: .05em;
    }

    .workBody .workContainer .hero-banner .title img {
        left: 20%;
        top: 15%;
        width: 1.5em;
    }

    .disc {
        left: 0;
    }

    .ver {
        left: 60%;
        top: 50%;
    }
    .workBody .workContainer .hero-banner .title .design {
        top: 70%;
        left: 10%;
        flex-direction: row;
        gap:1em;
        width: 80%;
        align-items: center;
    }
    
    .workBody .workContainer .hero-banner .title .design img {
   
    }
    
    .workBody .workContainer .hero-banner .title .fullstack {
       top: 85%;
       left: 10%;
       width: 80%;
    }
    
    .workBody .workContainer .hero-banner .title .fullstack img {
   
    }
}