.skillsBody {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111;
    display: flex;
    color: white;
}

.skillsContainer {
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: aliceblue; */
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    /* padding-top: 5em; */
}

.skillsContainer .display {
    padding: 2em;
    padding-top:10em;
    width: 70%;
    /* background-color: aqua;   */
    height: 100%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    /* padding-left: 8%; */
}

.display .text {
    /* background-color: red; */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 1em;
    border-block-start: 4px solid;
    border-block-end: 4px solid;
    border-inline-start: 4px solid;
    border-image-source: radial-gradient(circle at top left,

            #0bd3b4,
            transparent 20%);


    border-image-slice: 1;
    font-size: 1.1rem;

}

.display .progress {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    text-align: left;
}

.cube {
    /* border-radius: 9999px; */
    width: 70%;
    height: 100vh;
    /* background-color: red; */
    position: relative;
    
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: center;
    align-items: center;
    background: repeating-radial-gradient(rgba(255, 255, 255,0.4), #111 5px, #111 100px);
  
}
.cube span {
    font-family: 'poppin-bold';
}
.cube .cube-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8em;
    letter-spacing: .2em;
    font-size: 2em;
    background-color: #0bd3b4;

    border-radius: 9999px;
   
}
.skill-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    /* background-color: #0bd3b4; */
    border: 2px solid #0bd3b4;
    border-radius: 9999px;
    position: absolute;
}
.skill-item span {
    font-family: 'poppin';
}
.framework-container {
    padding-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    /* background-image: url("/progress_bg.png");
    background-repeat: no-repeat ;
    background-size: auto;
    background-position: top; */
}
.framework-container .title, .exp-container .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 1em; */
    width: 80%;
    justify-content: center;
    
    font-size: 2.5rem;
    /* padding-right: 1em; */
}
.framework-container .title h2, .exp-container .title h2 {
    font-family: 'poppin-bold';

}
.line {
    background-color: #ebecf3;
    width: 50%;
    height: 1px;
    opacity: .3;
    margin-left: .5em;
}
.framework-container h1 {
    font-family: 'poppin-bold';
}


.services {
    /* background-color: red; */
    display: flex;
    border-block-start: 4px solid;
    border-image-source: radial-gradient(circle at top left,
            #0bd3b4,
            transparent 80%);
    border-image-slice: 1;
    padding-top: 1em;
    width: 100%;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* height: auto; */
}

.services .serviceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .5em;
}

.services .serviceCard:last-child {
    padding: 1em;
    border-inline-end: 4px solid;
    border-block-end: 4px solid;
    border-image-source: radial-gradient(circle at bottom right,
            #0bd3b4,
            transparent 60%);
    border-image-slice: 1;

}
.exp-container {
    width: 100%;
    height: 10em;
    /* background-color: red; */
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exp-container .title {
    flex-direction: row-reverse;
}
.exp-container .title .line {
    margin-left: 0;
    margin-right: .5em;
}
.exp-container .exp-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:668px) {
    .skillsContainer {
        flex-direction: column;
        align-items: center;
        padding-left: 1em;
        /* gap: 3em; */
        /* padding-top: 10em; */
    }

    .skillsContainer .display {
        /* background-color: red; */
        width: 100%;
        margin-top:5em;
        align-items: center;
    }

    .skillsContainer .display .services {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .services .serviceCard:last-child {
        border-inline-end: none;
        border-block-end: none;


    }

    .cube {
        /* border-radius: 9999px; */
        width: 75%;
        height: 50vh;
        /* background-color: red; */
        background-size: cover;
        background: repeating-radial-gradient(rgba(255, 255, 255,0.4), #111 5px, #111 40px);
    }
    .cube .cube-center {
        font-size: 1em;
        letter-spacing: .1em;
       
    }
    .skill-item {
        border: none;
    }
    .framework-container  {
        margin-top:6em;
        /* background-color: red; */
        padding: 1em;
    }
    .framework-container .title, .exp-container .title{
        width: 100%;
        /* padding: 1em; */
    }
    .framework-container .title h2, .exp-container .title h2 {
        font-size: 1em;
    }
    .exp-container {
        /* padding-left: 1em; */
    }
    .line {
        width: 20%;
    }

}

@media screen and (max-width:1100px) and (min-width:669px) {
    .skillsContainer {
        flex-direction: column;
        align-items: center;
        /* gap: 3em; */
    }
    .cube {
   
    }
    .skillsContainer .display {
        /* background-color: red; */
        width: 100%;
    }
    .framework-container .title, .exp-container .title{
        width: 90%;
    }
    .framework-container .title h2, .exp-container .title h2 {
        font-size: 1em;
    }
    .line {
        width: 40%;
    }
    .cube {
        /* border-radius: 9999px; */
        width: 80%;
        height: 60vh;
        /* background-color: red; */
        background-size: cover;
        background: repeating-radial-gradient(rgba(255, 255, 255,0.4), #111 5px, #111 60px);
    }
    .cube span {
      
    }
    .cube .cube-center {
    
       
    }
    .skill-item {
       
      
    }
    .skill-item span {
       
    }
}