@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noticia+Text&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@font-face {
  font-family: 'poppin';
  src: url('/src/fonts/poppin.woff2') format('woff2');
  font-style: normal;
  
}
@font-face {
  font-family: 'poppin-2';
  src: url('/src/fonts/poppin-2.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'poppin-bold';
  src: url('/src/fonts/poppin-bold.woff2') format('woff2');
  font-style: normal;
  
}
p::selection, span::selection, h1::selection, h2::selection {
  background-color: #0bd3b4;
  color:#111
}
*{
  font-family: 'poppin-2';
  
}
::-webkit-scrollbar{
  /* display: none; */
  width: .5em;
  
  
}
::-webkit-scrollbar-thumb {
  background-color: #0bd3b4;
  border-radius: 1em;
}


